* {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family:YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}